
.grid-ingredientes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px; /* espacio entre columnas y filas */
    max-width: 600px;
    margin: 0 auto; /* centrar en la página */
    text-align: center;
}

.grid-ingredientes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-ingredientes button {
    margin-bottom: 5px;

}

.acciones {
    margin-top: 20px;
    text-align: center;
}