.acciones {
    margin-top: 20px;
    text-align: center;
}

.contenedorHUD{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.svgContainer {
    width: 70vw;
    aspect-ratio: 16 / 9;  /* Mantener proporción16:9 */
    background-image: url("https://subir-imagen.com/images/2025/09/10/imagen1820x1024.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #333;
    border-radius: 12px;
}

/* 
.resaltadoIngrediente {
    transition: transform 0.2s ease;
}

.resaltadoIngrediente:hover{
    transform-origin: top left;   
    transform: scale(1.05); 
    cursor: pointer;
} */