<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Juego principal</title>

  <!-- Boostrap core css -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" >

    <h1>Bienvenidos al juego </h1>
        <h2>Elija los ingredientes de su pizza</h2>

      <div class = "container">
         <div class = "row">
          <div class = "col-sm">
            <button type="button" id="botonMasa" name="masa" class="botonIngredientes btn btn-primary w-100">Masa</button>
            <p id="contadorMasas">0</p>
          </div>
          <div class = "col-sm">
            <button type="button" id="botonSalsa" name="salsa" class="botonIngredientes btn btn-primary w-100">Salsa</button>
            <p id="contadorSalsas">0</p>
          </div>
          <div class = "col-sm">
            <button type="button" id="botonQueso" name="queso" class="botonIngredientes btn btn-primary w-100">Queso</button>
            <p id="contadorQuesos">0</p>
          </div>
         </div>

          <div class = "row">
          <div class = "col-sm">
            <button type="button" id="botonAlbahaca" name="albahaca" class="botonIngredientes btn btn-primary w-100">Albahaca</button>
            <p id="contadorAlbahacas">0</p>
        </div>
          <div class = "col-sm">
          <button type="button" id="botonAceituna" name="aceituna" class="botonIngredientes btn btn-primary w-100">Aceituna</button>
          <p id="contadorAceitunas">0</p>
        </div>
          <div class = "col-sm">
          <button type="button" id="botonTomate" name="tomate" class="botonIngredientes btn btn-primary w-100">Tomate</button>
          <p id="contadorTomates">0</p>
          </div>
    </div>
    </div>
          <div>
              <button type="button"  id="entregarPedido" class="botonIngredientes entregar">Entregar Pedido</button>
              <p id="resultadoPedido"></p>
          </div>


    <a href="login.html" class="btn btn-lg btn-primary btn-block">Volver</a>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<!-- custom js -->
<!--<script type="text/javascript" th:src="@{/js/juego-pizza-logic.js}"></script>-->
<script th:src="@{/js/juego-pizza-logic.js(v=${#dates.createNow().time})}"></script>


</body>
</html>