<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
        <meta charset="UTF-8" />
        <title>Página de inicio</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/juego-pizza-frenzy.css}" />
</head>
<body class="container mt-5">
        <div id="container">
        <div id="debug"></div>

        <h1>Hover Test</h1>
        <h2>w/ shape information output</h2>
        <h4>
                shows information about the shapes attributes (class in this case) on mouseover in
                the green debug div <br /><br />
                changes class on click, used a selector in the stylesheet to change the apparence of
                the object
                <br />
                click to select, click again to deselect
        </h4>

        <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="1024px"
                height="1024px"
                viewBox="-116.951 -111.831 1024 1024"
                enable-background="new -116.951 -111.831 1024 1024"
                xml:space="preserve"
        >
                <g id="no2">

                <path
                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeQueso"
                        fill="none"
                        stroke="#000000"
                        stroke-miterlimit="10"
                        d="M45.5,400.169l133.333-1.669c0,0,24.666,3,16.333,23.667l-25,95   c0,0-7.667,17.666-27,16.333L-9.5,533.572c0,0-21.333-2.739-16-22.072s45.667-93.333,45.333-97.667S35.818,400.29,45.5,400.169z"
                />

                <path
                                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeTomate"
                        fill="none"
                        stroke="#000000"
                        stroke-miterlimit="10"
                        d="M233.5,398.5h134c0,0,18.75,3,22.5,14.75l-2,101   c0,0,1.75,15.644-20,19.322s-162,0-162,0s-23.75-3.322-18.25-22.072l23.75-97.25C211.5,414.25,214.25,404.25,233.5,398.5z"
                />

                <path
                                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeAceituna"
                        fill="none"
                        stroke="#000000"
                        stroke-miterlimit="10"
                        d="M424,398.5h131.75c0,0,23.5,1.25,28,19l23,90   c0,0,6.75,17.163-20.75,27.707H428.5c0,0-19.5-2.207-25.25-17.457L402,414C402,414,406,402.25,424,398.5z"
                />

                <path
                                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeMasa"
                        fill="none"
                        stroke="#000000"
                        stroke-miterlimit="10"
                        d="M621,398.5h124c0,0,24.25,1,32.591,12.324l45.75,98.5   c0,0,5.909,19.176-19.841,24.676H647.75c0,0-23.5-3.75-26.75-22l-22-95.5C599,416.5,604.25,401,621,398.5z"
                />

                <path
                                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeAlbahaca"
                        fill="none"
                        stroke="#0C0B0A"
                        stroke-miterlimit="10"
                        d="M-23.75,538.5H145.5c0,0,17.75,2.5,14.25,21.5   s-26.5,104.25-26.5,104.25s-9,16-27,17.5s-181.5,0-181.5,0S-91.5,674.5-93.5,668s0-9.75,0-9.75L-48,556.5   C-48,556.5-40.25,543.429-23.75,538.5z"
                />

                <path
                                        onmouseover="getName(this)"
                        onclick="select(this)"
                        name="BandejaDeSalsa"
                        fill="none"
                        stroke="#000000"
                        stroke-miterlimit="10"
                        d="M199.75,538.5H365.5c0,0,18,1.5,21.75,15.75L385.75,660   c0,0,1.75,13-26,21.75h-185c0,0-22-5.75-23.25-18.5l23.75-109C175.25,554.25,183.75,540.75,199.75,538.5z"
                />

                </g>
        </svg>

        <div id="selectedParts"></div>
        <br /><br /><br />
        </div>

        <a th:href="@{/login}" class="btn btn-primary">Ir al Login</a>

        <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{js/juego-pizza-frenzy.js}"></script>
</body>
</html>
